<div class="container main-container">
  <div class="col-md-6">
    <form novalidate [formGroup]='typeForm'  (ngSubmit)='deleteType()' class="text-center border border-light p-5 forms" action="#!">

      <p class="h4 mb-4">Delete Type</p>


      <input  id="defaultForm-edit-name" class="form-control" formControlName='name' placeholder="New type name" [ngClass]="{'is-invalid' : displayMessage.name}"/>

              <span class="text-danger"
                        *ngIf="displayMessage.name">
                        <p [innerHTML]="displayMessage.name"></p>
                      </span>

                      <input type="hidden" id="id" name="id" value="">




      <!-- Sign in button -->
      <br/>
      <button class="btn btn-outline-dark waves-effect" [disabled]='!typeForm.valid' type="submit">Delete</button>
      <button class="btn btn-outline-dark waves-effect" [routerLink]="['/config/type']">Back</button>





    </form>

  </div>

</div>


